// Modal Wrap
.idunaModal {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.5);
	height: 100%;

	// Modal Pane
	.idunaModal-pane {
		margin: 20px;
		outline: 1px solid #aaaaaa;
		background-color: #efefef;
		height: 80%;
		position: relative;
		padding: 40px 0;

		// Header
		.idunaModal-header {
			border-bottom: 1px solid #cccccc;
			min-height: 30px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background-color: inherit;
			padding: 10px;
			z-index: 9999;

			h3 {
				padding: 0;
				margin: 0;
				line-height: 30px;
				font-family: Arial, Helvetica, sans-serif;
				color: #555555;
			}

			.idunaModal-exit {
				position: absolute;
				right: 0;
				top: 0;
				padding: 8px;
				cursor: pointer;
				opacity: 0.6;
				&:hover {
					opacity: 0.4;
				}
			}
		}

		// Body
		.idunaModal-body {
			line-height: 0px;
			position: absolute;
			top: 50px;
			bottom: 50px;
			left: 0;
			right: 0;
			padding: 6px 5px 9px;
			overflow: scroll;
			z-index: 100;
			background-color: #222222;

			.idunaModal-image {
				display: inline-block;
				width: 50%;
				cursor: pointer;
				opacity: 0.75;
				@media screen and (min-width: $screen-xs-min) {
					width: 33.333%;
				}
				@media screen and (min-width: $screen-sm-min) {
					width: 25%;
				}
				@media screen and (min-width: $screen-md-min) {
					width: 20%;
				}

				&.selected {
					outline: 1px solid #222;
					z-index: 9999;
					position: relative;
					opacity: 1;
				}
			}
		}

		// Footer
		.idunaModal-footer {
			border-top: 1px solid #cccccc;
			min-height: 30px;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: inherit;
			text-align: right;
			padding: 10px;
			z-index: 9999;
		}

	}
}