@import 'settings';
@import 'modal';

.btn {
	display: inline-block;
	background-color: #2575ed;
	color: #ffffff;
	padding: 10px 20px;
	cursor: pointer;
	text-align: center;

	&:hover{
		opacity: 0.9;
	}
}

.hidden {
	display: none;
}

.idunaWrap {
	margin-top: 1em;
	font-family: 'Helvetica Neue', Helvetica, Tahoma, sans-serif;
	font-size: 1em;
}

.iduna-preview {
	display: block;
	min-height: 100px;
	outline: 1px solid #111;

	.idunaPreview-image {
		width: 20%;
		vertical-align: text-top;
	}
}