@import 'settings';
@import 'modal';

.btn {
	display: inline-block;
	border: 1px solid #dddddd;
	background-color: #efefef;
	color: #333333;
	padding: 10px;
	cursor: pointer;
}

.hidden {
	display: none;
}

.idunaWrap {
	margin-top: 1em;
}

.iduna-preview {
	display: block;
	min-height: 100px;
	outline: 1px solid #111;

	.idunaPreview-image {
		width: 20%;
		vertical-align: text-top;
	}
}